@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #212733;
}

button {
  outline: none;
}

.nav {
  position: relative;
  text-decoration: none;
}

.nav::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #68d6d3;
  transition: width 200ms ease-in-out;
  border-radius: 1rem;
}

.nav:hover::after {
  width: 100%;
}

.fadeout-background {
  background: linear-gradient(
    0deg,
    rgba(33, 39, 51, 1) 0%,
    rgba(33, 39, 51, 0) 50%,
    rgba(33, 39, 51, 1) 100%
  );
}
